body{
    background-color: black;
}
.card{
    background-color: #1E1E1E;
}
.card-body{
    color: ghostwhite;
}
.form-control{
    background-color: #1E1E1E;
    border: 0.5px solid rgb(116, 128, 209);
}
.changeInputFocus input{
    color: ghostwhite;
}
.changeInputFocus input[type]:focus{
    background-color: #1E1E1E;
    outline: 1px solid blue;
    box-shadow: none;
    color: ghostwhite;
}
.marginLeft {
    margin-left: none;
}
.imgSize{
    height: 350px;
    
}
.searchbarStyling{
    background-color: #f8f9fa!important;
    border: 1px solid green!important;
}
.profileStyling{
    background-color: #1E1E1E!important;
    color: ghostwhite;
    width: 60%;
}
.profileStyling input{
    color: ghostwhite;
}
.profileStyling input[type]:focus{
    background-color: #1E1E1E;
    outline: 1px solid blue;
    box-shadow: none;
    color: ghostwhite;
}
.modal-content{
    background-color: #1E1E1E!important;
    color: ghostwhite;
    width: 100%;
    border: none;
}
.modal-content input{
    color: ghostwhite;
}
.modal-content input[type]:focus{
    background-color: #1E1E1E;
    outline: 1px solid blue;
    box-shadow: none;
    color: ghostwhite;
}
.modal-footer{
    border: none;
}
.modal-header{
    border: none;
}
.profileEmail{
    color: ghostwhite!important;
}
.dropdownStyling{
    background-color: #1E1E1E!important;
    color: ghostwhite;
    width: 100%;
    border: none;
}